@model IEnumerable<TestFiller.Models.Theme>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Themes</title>
</head>
<body>
    <h2>Здесь отображаются темы доступные для тестирования</h2>
    <a asp-action="AddTheme">Добавить тему</a>
    <table>
        <thead>
            <tr>
                <th>title</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TestFiller.Models.Theme theme in Model)
            {
                <tr>
                    <td>@theme.title</td>
                    <td>@theme.id</td>
                    <td>@Html.ActionLink("Удалить","DeleteTheme", new { themeId=theme.id})</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>