@{
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Наполнение тестов</title>
    </head>
    <body>
        <div>
            Добро пожаловать на ресурс по наполнению тестов!
            <a asp-action="ListThemes">Темы</a>
            <a asp-action="Question">Вопросы</a>
        </div>
    </body>
</html>